{
	"init": {
		"orgId": "your-org-id",
		"region": "your-region"
	},
	"auth": {
		"email": "your-email@org.com",
		"password": "$tr0ngP@ssw0rd"
	},
	"testing": {
		"userId1": "some-id-for-testing",
		"userId2": "some-id-for-testing",
		"driverId1": "some-id-for-testing",
		"driverId2": "some-id-for-testing",
		"drvId1": "some-id-for-testing",
		"drvId2": "some-id-for-testing",
		"rvId1": "some-id-for-testing",
		"rvId2": "some-id-for-testing",
		"vId1": "some-id-for-testing",
		"vId2": "some-id-for-testing",
		"emergencyId1": "some-id-for-testing",
		"emergencyId2": "some-id-for-testing",
		"claimId1": "some-id-for-testing",
		"claimId2": "some-id-for-testing",
		"fleetId1": "some-id-for-testing",
		"fleetId2": "some-id-for-testing",
		"policyId1": "some-id-for-testing",
		"policyId2": "some-id-for-testing",
	}
}
